#include "resource.h"

#include <windows.h>

IDI_MAIN_ICON ICON "FileLockAnalyzer.ico"

IDD_MAIN_DIALOG DIALOGEX 0, 0, 580, 370
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "File Lock Analyzer"
CLASS "FileLockAnalyzerMainWnd"
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "EN",IDC_BUTTON_TOGGLE_LANG,540,6,30,14

    GROUPBOX        "Target",IDC_GROUP_TARGET,7,7,520,52
    LTEXT           "Path:",IDC_STATIC_PATH_LABEL,20,26,24,12
    EDITTEXT        IDC_EDIT_PATH,50,24,370,14,ES_AUTOHSCROLL
    PUSHBUTTON      "File...",IDC_BUTTON_BROWSE_FILE,430,24,40,14
    PUSHBUTTON      "Dir...",IDC_BUTTON_BROWSE_FOLDER,475,24,44,14
    PUSHBUTTON      "Analyze",IDC_BUTTON_ANALYZE,20,43,70,14

    GROUPBOX        "Lock Analysis Results",IDC_GROUP_RESULT,7,63,566,228
    CONTROL         "",IDC_LIST_PROCESSES,"SysListView32",LVS_REPORT | LVS_SHOWSELALWAYS | LVS_AUTOARRANGE | WS_BORDER | WS_TABSTOP,20,81,540,179
    PUSHBUTTON      "Kill Process",IDC_BUTTON_KILL_PROCESS,20,262,70,14
    PUSHBUTTON      "Close Handle",IDC_BUTTON_CLOSE_HANDLE,96,262,80,14
    PUSHBUTTON      "Unlock/Unload",IDC_BUTTON_UNLOCK_FILE,182,262,90,14
    PUSHBUTTON      "Delete File",IDC_BUTTON_DELETE_FILE,278,262,70,14
    PUSHBUTTON      "Refresh",IDC_BUTTON_REFRESH,500,262,56,14

    GROUPBOX        "Shell Integration",IDC_GROUP_UTILITY,7,292,566,28,WS_GROUP
    PUSHBUTTON      "Register Shell Menu",IDC_BUTTON_REGISTER_SHELL,22,301,120,14
    PUSHBUTTON      "Unregister Shell Menu",IDC_BUTTON_UNREGISTER_SHELL,148,301,128,14

    LTEXT           "Ready",IDC_STATIC_STATUS,7,323,566,14,0,WS_EX_STATICEDGE
    LTEXT           "Copyright © Finn Wang | WeChat: FinnSoft",IDC_STATIC_COPYRIGHT,7,340,566,14,SS_CENTER,WS_EX_STATICEDGE
END
